@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <h1>Matt Mortensen</h1>
        <nav>
            <NavLink href="/">About</NavLink>
            <NavLink href="/projects">Projects</NavLink>
        </nav>
    </header>

    <main>
        @Body
    </main>

    <footer>
        <p>© 2025 Matt Mortensen</p>
    </footer>
</div>
