<div class="card h-100 shadow-sm border-0 rounded-4" style="background-color: var(--card-bg); color: white;">
    <div class="card-body">
        <h5 class="card-title fw-bold text-white">@Title</h5>
        <p class="card-text text-white">@Description</p>
        <NavLink href="@ProjectLink" class="btn btn-sm btn-outline-light mt-2">View Project</NavLink>
    </div>
</div>

@code {
	[Parameter] public string Title { get; set; }
	[Parameter] public string Description { get; set; }
	[Parameter] public string ProjectLink { get; set; }
}
