<div class="d-flex flex-wrap gap-2">
    @foreach (string tech in techlist)
    {
        <span class="badge rounded-pill bg-secondary px-3 py-2 fs-6">@tech</span>
    }
</div>

@code {
	private List<string> techlist = new List<string>()
	{
         "C#",
        "Blazor",
        "ASP.NET Core",
        "GitHub",
        "Docker",
        "Proxmox",
        "SQL Server"
	};
}
