@page "/"

<SectionHeader Title="About Me" />
<p>
    I work in Systems by day and build full-stack solutions by night. I'm all about turning small scripts into polished tools—and always learning something new along the way.
</p>

<SectionHeader Title="Tech Stack" />
<TechStackGrid />


<SectionHeader Title="Featured Projects" />
<div class="featured-projects">
    <MiniProjectCard Title="Seinfeld API"
                     Description="A RESTful API serving Seinfeld episodes, characters, and quotes." 
                     ProjectLink="/projects/seinfeld-api" />

    <MiniProjectCard Title="Knowledge Center"
                     Description="A structured knowledge management app with full CRUD and tagging." 
                     ProjectLink="/projects/knowledge-center" />
</div>

<SectionHeader Title="Let’s Connect" />
<Footer />