@page "/"

<SectionHeader Title="My Journey" />
<div class="bio-container">
    <!-- Add paragraph blocks or a Timeline component -->
</div>

<SectionHeader Title="Tech Stack" />


<SectionHeader Title="Featured Projects" />
<div class="featured-projects">
    <!-- Link to Projects page -->
</div>

<SectionHeader Title="Let’s Connect" />
<Footer />