@inject ProjectController ProjectController
@page "/projects"

<SectionHeader Title="Projects" />

<div class="projects-grid">
    @if (projects?.Any() == true)
    {
        @foreach (ProjectModel project in projects)
        {
            <MiniProjectCard Title="@project.Title"
                             Description="@project.Description"
                             ProjectLink="@($"/projects/{project.Slug}")" />

        }
    }
    else
    {
        <p>No projects found or are currently loading...</p>   
    }


</div>

@code 
{
    private List<ProjectModel>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectController.GetAll();
    }
}