@inject ProjectController ProjectController
@page "/projects"

<SectionHeader Title="Projects" />

<div class="projects-grid">
    @foreach(ProjectModel project in projects)
    {
        <MiniProjectCard Title="@project.Title"
                         Description="@project.Description"
                         ProjectLink="/projects/jamf-api-tool" />
    }

</div>

@code 
{
    private List<ProjectModel>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectController.GetAll();
    }
}