@inject ProjectController ProjectController
@page "/projects"

<SectionHeader Title="Projects" />

<div class="container py-5">
    @if (projects?.Any() == true)
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (ProjectModel project in projects)
            {
                <div class="col">
                    <MiniProjectCard Title="@project.Title"
                                     Description="@project.Description"
                                     ProjectLink="@($"/projects/{project.Slug}")" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">No projects found or are currently loading...</div>
    }
</div>

@code 
{
    private List<ProjectModel>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectController.GetAll();
    }
}