@page "/projects"

<SectionHeader Title="Projects" />

<div class="projects-grid">
    <MiniProjectCard Title="Jamf API Tool" Description="Automates device lookups and config updates using Jamf API." ProjectLink="/projects/jamf-api-tool" />
    <MiniProjectCard Title="Knowledge Center" Description="A personal knowledge tracker using C# and SQL." ProjectLink="/projects/knowledge-center" />
    <MiniProjectCard Title="Seinfeld API" Description="Jokes and quotes from your favorite sitcom characters." ProjectLink="/projects/seinfeld-api" />
</div>
