@inject ProjectController ProjectController
@page "/projects/{Slug}"

<h2>@project?.Title</h2>
<p>@project?.Description</p>

@if (project?.TechStack != null && project.TechStack.Count > 0)
{
    <h4>Tech Stack</h4>
    <ul>
        @foreach (var tech in project.TechStack)
        {
            <li>@tech</li>
        }
    </ul>
    <a href="@project.LiveURL">Check out the project</a>
    <a href="@project.GHRepoURL">GitHub Repo</a>
    <p>@project.LongDescription</p>
}


@code 
{
	[Parameter] public string Slug { get; set; }

	private ProjectModel? project; 

	protected override async Task OnInitializedAsync()
	{
		project = await ProjectController.GetBySlug(Slug);
	}
}